.side
  .side__username
    .side__username__topitems
      .side__username__topitems__name
        masa
      .side__username__topitems__icons
        .side__username__topitems__iconleft
          = link_to "#" do
            = icon('fas','edit')
        .side__username__topitems__iconright
          = link_to "#" do
            = icon('fas','cog')
  .groups