.side
  .side__username
    .tops
      .tops__topname
        masa
      .tops__topicons
        .tops__topicons__iconleft
          = link_to "#" do
            = icon('fas','edit')
        .tops__topicons__iconright
          = link_to "#" do
            = icon('fas','cog')
  .side__grouplist
    .group
      .group__name
        TECHCAMP
      .group__message
        まだメッセージはありません