.side {
  color: #fff;
  width: 300px;
}

.side__username {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.side__username__topitems {
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.side__username__topitems__name {
  font-size: 16px;
  font-weight: bold;
}

.side__username__topitems__icons {
  display: flex;
  justify-content: end;
  color: #ffffff;
}

.side__username__topitems__iconleft {
  margin-left: 5px;
}

.side__username__topitems__iconright {
  margin-left: 5px;
}

.fas {
  color: white;
}

.side__group-list {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
}